$thematic-break-line-colors-helpers-parser: (
    background-color: color
) !default;

$thematic-break-line-colors-support-extra-colors-palette: () !default;
$thematic-break-line-colors-support-skip-colors-palette: null !default;
